th,td,table{
            border-color: blue;
            border-collapse: collapse;
            padding: 5px;
        }

#yes{
            margin-top: 10px;
            background-color: green;
            padding: 50px;
            width:300px;
}

.container{
            display: inline;
            border-radius: 2px;
            background-color:red;
            margin-left: 10px;
            padding: 20px;
}

@media(max-width: 600px){

}